/* Reset some default styles */

/*colors to use

sea foam (pastel blue) #aed6dc
salmon (pinkish) #ff9a8d
navy #4a536b 
*/

* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: 'Optima', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/*body*/
body{
    background: #4a536b;
}

.link{
    scroll-margin-top: 5em;
}

/*container - make this responsible for padding*/
.container{
    padding: 10px 10%;
    height: 90vh;
    min-height: 400px;
}

.container_2{
    padding: 10px 10%;
    height: 80vh;
}

.down_arrow{
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: 20px;
}

.section-header{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.section-header h1{
    color: #aed6dc;
    font-size: xx-large;
}

/* navigation bar */
.navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #262626;
    width: 100%;
    position: fixed;
    z-index: 1;
}
    
/*234 x 102*/

.logo{
    width: 78px;
    height: 34px;
    padding: 10px;
}

/*menu items*/
.right {
    padding: 10px;
    align-content: flex-end;
}
.right a{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 18px;
    position: relative;
}

.right a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff9a8d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.right a:hover::after{
    width: 100%;
}


/*sticky social icons*/
.icons-sticky{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: fixed;
    list-style-type: none;
    overflow-x: hidden;
    z-index: 1;
}

.icons-sticky ul li{
    width: 40px;
    height: 40px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.icons-sticky a {
    justify-content: center;
    font-size: 30px;
    color: #818181;
    display: block;
}

.icons-sticky ul li:hover{
    padding-left: 3vh;
    width: 10vh;
    transition: .5s;
}

/*platform specific*/
.linkedin{
    background: #0077b5;
}
.github{
    background:#262626;

}
.email{
    background:#ff9a8d;
}

/* space for HEADER */
.header_subtitle{
    width: 100%;
    font-size: 40px;
    margin-top: 20%;
}

.header_subtitle span{
    color: #aed6dc;
}

.header_subtitle a{
    color: #ff9a8d;
}

.header_subtitle h2{
    width: 100%;
    font-size: 25px;
}

/* space for ABOUT */
.about_me {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 40px;
}

.about_pic img{
    grid-column: 1;
    width: 100%;
    border: 3px solid whitesmoke;
}

.about_info {
    grid-column: 2;
}

/*ABOUT top paragraph*/
.about_info p {
    font-size: 14px;
}
.about_info b{
    color: #ff9a8d;
}

/*ABOUT tabs*/
.about_tabs{
    display: flex;
    margin: 20px 0;
}

.about_tab_func{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.about_tab_func::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff9a8d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.about_tab_func.on-tab::after{
    width: 50%;
}

.tab_container ul li{
    list-style: none;
    margin: 10px 0;
}

.tab_container ul li span{
    color:  #aed6dc;
    font-size: 14px;
}

.tab_container{
    display: none;
}

.tab_container.on-link{
    display:block;
}

/* space for PORTFOLIO */

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-gap: 40px;
}

.work {
    position: relative;
    overflow: hidden;
    border: 3px solid whitesmoke;
}

.work img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),  #4a536b );
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

/* header in overlay*/
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #aed6dc;
}

/* project button */
.layer a{ 
    margin-top: 20px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer i{
    color: whitesmoke;
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/*resume button*/
.btn{
    display: block;
    margin: 4vh auto;
    width: fit-content;
    border: 1px solid #aed6dc;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #aed6dc;
    transition: background 0.5s;
}

.btn:hover{
    background: #ff9a8d;
}

/* space for CONTACT */

.btn.btn2{
    display: inline-block;
    background: #4a536b;
}
.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

form .btn2:hover{
    background: #ff9a8d;
}

#msg{
    color: whitesmoke;
    display: block;
}

